/.vscode
/node_modules
/.env
/.DS_Store
/.git
/.idea
/.cache
/.next
/.nuxt
/.vercel
/.output
/.yarn
/.yarn-cache
/.yarn-integrity
/.yarnrc.yml
./dist
/build
/.out
/.coverage
/.nyc_output
/.eslintcache
/.prettiercache
/.vscode-test
/.vscode-test/
/.vscode-remote
/.vscode-remote-data
/.vscode-remote-lock.json
/.vscode-remote-lock
/.vscode-remote-lock.*
/.vscode-remote-lock-*



*.env
.env
.env.*